/* font */
body {
    margin: 0;
    -webkit-text-size-adjust: none;
    font-family: "San Francisco", "system-ui";
    text-transform: none;
    color: #212121;
}
.mobilevisible {
    display: none;
    @media screen and (max-width: 1024px) {
        display: block;
    }
}

.white {
    color: white;
}
.Owhite {
    color: rgb(233, 233, 233);
}
.Oblue {
    color: #00a0e8;
}
.Odarkblue {
    color: #0c318f;
}
.Olightblue {
    color: #53c2f0;
}
.gray {
    color: gray;
}



code {
    color: darkred;
    background-color: rgb(139, 0, 0, .1);
    padding: 0 3px;
    user-select: all;
    margin: 0 3px;
    font-size: inherit;
    text-decoration: none;
}
a, i, b {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}
a:hover {
    opacity: .67;
}
span, p, td, th, li, select, button, input, textarea {
    font-size: 16px;
    font-weight: normal;
    @media screen and (max-width: 1024px) {
        font-size: 26px;
    }
}
h6 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 30px;
    }
}
h5, h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 30px;
    }
}
h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 34px;
    }
}
h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 40px;
    }
}
h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 72px;
    }
}


/* format */
ul {
    padding-inline-start: 23px;
    & li {
        margin-bottom: 11px;
    }
}
.block {
    max-width: 1280px;
    padding: 0 128px;
}



.introduction {
    margin-top: 64px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    flex-basis: 1;
    & .left {
        flex-grow: 10;
        display: flex;
        flex-direction: column;
        text-align: center;
        & p img {
            width: 100%;
            margin-bottom: 11px;
        }
    }
    & .right {
        display: flex;
        flex-grow: 10;
        & img {
            width: 100%;
            height: fit-content;
        }
    }
}



.content {
    margin-top: 32px;
    margin-bottom: 32px;
}

.footer {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}