/* font */
body {
    margin: 0 64px;
    -webkit-text-size-adjust: none;
    font-family: "San Francisco", "system-ui";
    text-transform: none;
    color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobilevisible {
    display: none;
    @media screen and (max-width: 1024px) {
        display: block;
    }
}

.white {
    color: white;
}
.Owhite {
    color: rgb(233, 233, 233);
}
.Oblue {
    color: #00a0e8;
}
.Odarkblue {
    color: #0c318f;
}
.Olightblue {
    color: #53c2f0;
}
.gray {
    color: gray;
}
.orange {
    color: #e37222;
}


code {
    color: darkred;
    background-color: rgb(139, 0, 0, .1);
    padding: 0 3px;
    user-select: all;
    margin: 0 3px;
    font-size: inherit;
    text-decoration: none;
}
a, i, b {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}
a:hover, div a:hover {
    color: #e37222;
    opacity: .67;
}
span, p, td, th, li, select, button, input, textarea {
    font-size: 16px;
    font-weight: normal;
    @media screen and (max-width: 1024px) {
        font-size: 26px;
    }
}
h6 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 30px;
    }
}
h5, h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 30px;
    }
}
h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 34px;
    }
}
h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 40px;
    }
}
h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 72px;
    }
}


/* format */
ul {
    padding-inline-start: 23px;
    & li {
        margin-bottom: 11px;
    }
}
.block {
    max-width: 1024;
    width: 100%;
}



.introduction {
    margin-top: 64px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 33px;
    & .left {
        max-width: 768px;
        display: flex;
        flex-direction: column;
        & h1, h6 {
            text-align: center;
        }
    }
    & .right {
        min-width: 256px;
        max-width: 256px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & img {
            width: 100%;
            height: fit-content;
        }
    }
    @media screen and (max-width: 1024px) {
        flex-direction: column-reverse;
        align-items: center;
        & .left {
            max-width: 100%;
        }
        & .right {
            min-width: 40vw;
            max-width: 40vw;
        }
    }
}



.content {
    margin-top: 32px;
    margin-bottom: 32px;
    & iframe {
        width: 100%;
        height: 512px;
    }
}

.footer {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

